html,body{
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);  
	-moz-tap-highlight-color:rgba(0, 0, 0, 0);  
	-ms-tap-highlight-color:rgba(0, 0, 0, 0);  
	-o-tap-highlight-color:rgba(0, 0, 0, 0);  
	tap-highlight-color:rgba(0, 0, 0, 0);  
}
body{
	color: #666;
    font: 12px/1.5 "微软雅黑", arial, \5b8b\4f53;
    background: #fff;
    width: 100%;
    margin: 0;
	padding: 0;
}
ul,li,ol{
	list-style: none;
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
a{
	text-decoration: none;
}
a:hover{
	color: #FF2600;
}
.lt{
	float: left;
}
.rt{
	float: right;
}
.clearfix{
	overflow: hidden;
}
.pl2{
	margin-left: 2%;
}
input::-webkit-input-placeholder { /* WebKit browsers */
   color: white !important;
   opacity: 0.5;
   line-height:0.45rem !important;
   font-size: 0.24rem;
}
input[type=button], input[type=submit], input[type=file], button{ 
	cursor: pointer; 
	-webkit-appearance: none; 
}
p{
	margin:0;
}
.layer{
	background: #ddd;
	width: 150px;
	height: 40px;
	border-radious:5px;
	line-height: 40px;
	position: fixed;
	font-size:14px;
	bottom: 50px;
	margin: auto;
	z-index: 1000;
	text-align: center;
	display:none;
}